
.tag-heading {
color: black;
text-align: center;
}

.tag-IMG_7649{
  width: 150px;
  height: 200px;
  border-radius: 10%;
  border: 10px solid grey;
  text-align: center;

}

.tag-IMG_0982{
  width: 150px;
  height: 200px;
  border-radius: 10%;
  border: 10px solid grey;
  text-align: center;

}

.tag-IMG_9728 {
  width: 150px;
  height: 200px;
  border-radius: 10%;
  border: 10px solid grey;


}
.tag-IMG_1183 {
  width: 150px;
  height: 200px;
  border-radius: 10%;
  border: 10px solid grey;
}

body {
  background: url( 'images/IMG_greybackground.jpg')
}
footer .copyright {
  text-align: center;
}
